@charset "UTF-8";
/* CSS Document Common Elements */
body {
  position: absolute;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  /*background-color: transparent;*/
  /* below improves consistancey of font rendering across browsers */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  /* below stops FireFox rendering copy too heavily */
  -moz-osx-font-smoothing: grayscale;
}

/* Fix to stop Mobile Safari automatically scaling text - http://bit.ly/1mumu5F */
/* *START* Automatically inserted from media query: "screen and (max-device-width: 480px)" */
body {
  -webkit-text-size-adjust: none;
}
/* *END* Automatically inserted from media query: "screen and (max-device-width: 480px)" */

/* Browser Support: Chrome:5+, Safari:5.1+, Firefox:3.6+, Opera:11.5+, IE:9+, Android:4.4+, iOS:5.1+ */
@font-face {
  font-family: 'MarkOffcForMC';
  src: url('../fonts/MarkOffcForMC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkOffcForMC-Medium';
  src: url('../fonts/MarkOffcForMC-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  display: none;
}

.abs {
  position: absolute;
  left: 0px;
  top: 0px;
}

.full {
  width: 100%;
  height: 100%;
}

.hidden {
  opacity: 0;
  filter: alpha(opacity=0);
}

.hide {
  display: none;
}

#exit_btn {
  cursor: pointer;
  z-index: 400;
  background-color: #FFFFFF;
  opacity: 0;
  filter: alpha(opacity=0);
}

#keyline {
  z-index: 399;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #666666;
  background-color: transparent;
}

#background {
  background: #FFFFFF;
}

.img-logo {
  width: 178px;
  height: auto;
  margin-top: 80px;
  left: 1px;
}

/* logo */
.mastercardLogo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ed2205;
  left: 11px;
  top: 0px;
  /* transform: translateX(-25px); */
}

.orange {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f9a000;
  mix-blend-mode: hard-light;
  /* transform: translateX(25px); */
}

/*********** PRODUCT FRAME - default is 1080x1920 **********/
.background {
  height: 94%;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*********** END FRAME COPY **********/
.copy-container {
  position: absolute;
  left: 6px;
  top: 47px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px;
}

#copy_container2 {
  top: 23px;
  display: block;
  width: 90%;
}

#headline2 {
  margin-top: 71px;
}

.copy-headline {
  font-family: 'MarkOffcForMC';
  font-size: 22.5px;
  line-height: 1.25;
  /* letter-spacing: .6px; */
  text-align: left;
  color: #fff;
}

#cta {width: 40%;}

.copy-headline span {
  /* font-family: 'MarkOffcForMC-Medium'; */
  overflow: hidden;
}

.cta {
  font-family: 'MarkOffcForMC';
  background-color: #cf4501;
  border-radius: 20px;
  margin-top: 25px;
  padding: 7.5px;
  width: 65%;
  font-size: 14px;
  margin-left: 2px;
  color: #fff;
  transform-origin: 100px 18px;
}
#legal {
  font-family: 'MarkOffcForMC';
  margin: 23px;
  width: 86%;
  font-size: 10px;
  color: #fff;
  bottom: 6px;
  position: absolute;
  right: 0px;
  text-align: right;
}
.copy {
  /* display: flex; */
  overflow: hidden;
  display: block;
  position: relative;
}
.character {
  opacity: 0
}
#copy1 {}

#copy2 {}

#copy3 span {
  position: relative;
  overflow: hidden;
}

#copy4 {}

#copy5 {
  transform: translate(0px, 0px);
  position: relative;
  display: flex;
}

.color {
  color: #e05b1e;
  font-family: 'MarkOffcForMC-Medium';
}
.color span {
  /* transform: translate(0px, 10px); */
  /* top: 30px; */
}
#suffle_Txt {
  position: absolute;
  display: block;
  color: #e05b1e;
  font-family: 'MarkOffcForMC-Medium';
}

#handHolder {
  position: absolute;
  width: 30px;
  height: auto;
  left: 47px;
  top: auto;
  bottom: 15px;
}
.hand {
  width: 100%;
  height: auto;
}
#hand {}

#hand_spark {
  transform-origin: 12px 12px;
}
/*********** GENERAL POSITIONING **********/
.center-ele-v {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-ele-h {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center-ele {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  width: 300px;
  height: 600px;
}
